.board-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.board-row:last-child {
    margin-bottom: 0;
}

.first-row > div,
.middle-row > div,
.last-row > div,
.board-row > div:nth-child(1),
.board-row > div:nth-child(2),
.board-row > div:nth-child(3) {
    border: none;
}