.square {
    height: 106px;
    width: 106px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 106px;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 8px;
    font-size: 55px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin: 0;
    box-sizing: border-box;
}

.square:hover {
    background: rgba(238, 228, 218, 0.5);
}